li{list-style-type: none;}
*{padding: 0; margin: 0; box-sizing: border-box;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.user_detail {
  max-width: 600px;
  margin: 10px auto;
}

.addDetail_btn{
  margin: 10px auto;
}

.update_form li{width: 50%; float: left; padding: 5px;}

@media (max-width:767px) {
  .user_detail{padding: 10px;}
  .update_form li{width: 100%; padding: 8px 0;}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}